<!DOCTYPE html>
<html lang="en">
<style>
    .figure {
        width: 30%;
        margin: 1% auto
    }

    .image {
        width: 50%;
        border-radius: 50% !important
    }

    .rounded {
        border-radius: 50% !important;
    }

    button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        border: 2px solid purple;
        background: white;
    }

    button i {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 35% auto;
        color: purple;
        font-size: 20px;
    }

    .container td {
        width: 22%
    }

    .footBtn {
        width: 100px;
        color: purple
    }
</style>

{{>header}}

<body>

    <div class="container">
        <h5 class="text-center">Contact Collect with Handlebars</h5>
        <form class="col-xs-12 col-md-6 mx-auto" action="/new-contact" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text">...</div>
                </div>
                <input type="text" class="form-control" name="name" placeholder="Enter your contact's name">
            </div>

            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Enter your contact's e-mail">
            </div>

            <div class="input-group  mb-1">
                <label class="custom-file-label" for="avatar" id="fileHtml">Choose file</label>
                <input type="file" class="custom-file-input" id="fileBtn" name="avatar" multiple="multiple">
            </div>

            <div class="input-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>

        {{#each contactArr}}
        <figure class="figure">
            <a href="#">
                <img src="/uploads/{{this.avatar}}" class="image figure-img">
            </a>
            <div>
                User Name: {{this.name}}
            </div>

            <div>
                Email: {{this.email}}
            </div>


            <figcaption class="figure-caption">

                <form class="float-left" action="/delete-contact/{{this.id}}" method="POST">
                    <button class="btn-delete" type="submit"> <i class="far fa-trash-alt"></i> </button>
                </form>
                <button class="btn-delete" data-toggle="modal" data-target="#editModal"
                    onclick="setModal('{{this.id}}','{{this.avatar}}','{{this.name}}','{{this.email}}')">
                    <i class="fas fa-pen"></i>
                </button>
                <button class="btn-delete" data-toggle="modal" data-target="#emailModal"
                    onclick="setModal('{{this.id}}','{{this.avatar}}','{{this.name}}','{{this.email}}')">
                    <i class="fas fa-envelope-open-text"></i>
                </button>
            </figcaption>

        </figure>
        {{/each}}

    </div>

    {{!-- for edit modal--}}
    {{!-- {{this.id}}is not working outside of hbs #each --}}
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"><img class="userImg float-left" />
                    <h5 class="name modal-title text-primary"></h5><button class="close" type="button"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form id="editForm" class="col-xs-12 col-md-10 mx-auto" method="POST" enctype="multipart/form-data">
                        <input class="idOfContact" name="id" hidden="hidden" />
                        <div class="input-group mb-1">
                            <div class="input-group-prepend"></div>
                            <div class="input-group-text">...</div><input class="name form-control" type="text"
                                name="name" placeholder="Enter your contact's name" />
                        </div>
                        <div class="input-group mb-1">
                            <div class="input-group-prepend"></div>
                            <div class="input-group-text">@</div><input class="email form-control" type="email"
                                name="email" placeholder="Enter your contact's e-mail" />
                        </div>
                        <div class="input-group mb-1"><label id="editFileHtml" class="custom-file-label"
                                for="avatar">Choose
                                file</label><input id="avatarEditInput" class="custom-file-input" type="file"
                                name="avatar" multiple="multiple" />
                        </div>
                        <div class="input-group"><button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h5 class="text-center m-auto text-primary">© 2019 Bea Blome</h5>
                </div>
            </div>
        </div>
    </div>

    {{!-- for email sending modal--}}
    {{!-- {{this.id}}is not working outside of hbs #each --}}

    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header"><img class="userImg float-left" />
                    <h5 class="name modal-title text-primary"></h5><button class="close" type="button"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <form class="container" action="/send-mail" method="POST" enctype="multipart/form-data">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">to</div>
                            </div><input class="email form-control" type="email" name="to" readonly="" />
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div><input class="form-control" type="email" name="cc" placeholder="CC address" />
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">...</div>
                            </div><input class="form-control" type="text" name="subject" placeholder="Mail Subject" />
                        </div>
                        <div class="input-group mb-2"><textarea class="form-control" rows="3" name="message"></textarea>
                        </div>
                        <div class="input-group mb-2"><label class="custom-file-label" for="attach">Choose
                                File</label><input class="custom-file-input" id="attach" type="file" name="attach" />
                        </div>
                        <hr />
                        <div class="input-group mb-2" id="userDiv">
                            <div class="input-group-prepend">
                                <div class="input-group-text">@</div>
                            </div><input class="form-control" type="email" name="user"
                                placeholder="Your G-mail address" />
                        </div>
                        <div class="input-group mb-2" id="passDiv">
                            <div class="input-group-prepend">
                                <div class="input-group-text"> * </div>
                            </div><input class="form-control" type="password" name="pass"
                                placeholder="Your G-mail password" />
                        </div>
                        <hr />
                        <div class="input-group mb-2"><button class="btn btn-primary btn-block"
                                type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <h5 class="text-center m-auto text-primary">© 2019 Bea Blome</h5>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let setModal = (id, avatar, name, email) => {
        $('#editForm').attr('action', `/edit-contact/${id}`);
        $('.userImg').attr('src', '/uploads/' + avatar);
        $('.name').val(name).text(name);
        $('.email').val(email);
    }

    //to write a file name onto the image upload input
    let fileHtml = document.getElementById("fileHtml")
    let fileBtn = document.getElementById("fileBtn")
    fileBtn.addEventListener("change", () => {
        if (fileBtn.value) {
            fileHtml.innerHTML = fileBtn.value
        } else {
            fileHtml.innerHTML = "please select an image"
        }
    })

    //to write file name in the edit file part
    const editFileHtml = document.getElementById("editFileHtml")
    let editfileBtn = document.getElementById("avatarEditInput")

    editfileBtn.addEventListener("change", () => {
        if (editfileBtn.value) {
            editFileHtml.innerHTML = editfileBtn.value
        } else {
            editfileHtml.innerHTML = "please select an image"
        }
    })


</script>




</html>